<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Time</servlet-name>
        <servlet-class>Servlet.Time</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Time</servlet-name>
        <url-pattern>/Time</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>GetItemAvailable</servlet-name>
        <servlet-class>Servlet.GetItemAvailable</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetItemAvailable</servlet-name>
        <url-pattern>/GetItemAvailable</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>Stop</servlet-name>
        <servlet-class>Servlet.StopController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Stop</servlet-name>
        <url-pattern>/Stop</url-pattern>
    </servlet-mapping>
    
    <!--Display name-->
    <display-name>
        収集装置
    </display-name>
    
    <!--Session Config-->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
