<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--Time-->
    <servlet>
        <servlet-name>Time</servlet-name>
        <servlet-class>Servlet.Time</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Time</servlet-name>
        <url-pattern>/Time</url-pattern>
    </servlet-mapping>
    <!--Get All Item-->
    <servlet>
        <servlet-name>GetAllItems</servlet-name>
        <servlet-class>Servlet.GetAllItems</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAllItems</servlet-name>
        <url-pattern>/GetItemAvailable</url-pattern>
    </servlet-mapping>
    <!--Stop Echo-->
    <servlet>
        <servlet-name>Stop</servlet-name>
        <servlet-class>Servlet.StopController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Stop</servlet-name>
        <url-pattern>/StopEcho</url-pattern>
    </servlet-mapping>
    <!--Set Name-->
    <servlet>
        <servlet-name>SetName</servlet-name>
        <servlet-class>Servlet.SetName</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetName</servlet-name>
        <url-pattern>/SetName</url-pattern>
    </servlet-mapping>
    <!--Display name-->
    <display-name>
        収集装置
    </display-name>
    <!--Session Config-->
    <session-config>
        <session-timeout>
            -1
        </session-timeout>
    </session-config>
    <!--debug-->
    <!--    <welcome-file-list>
        <welcome-file>
            GetItemAvailable
        </welcome-file>
    </welcome-file-list>-->
    <!--End-->
</web-app>
