.image-home{
    width: 40%;
    margin: auto;
}
.image-container{
    text-align: center;
    margin-top: 3rem;
    background-color: darkseagreen;
    border-radius: 10px;
}
.img-devices{
    max-width: 8rem;
    max-height: 8rem;
    line-height: 8rem;
}
.img-devices-container{
    display: inline-grid;
    text-align: center;
}

/* Clock
.clock{
    font-size: 26px;
    font-weight: 700;
    color: #ffdd57;
} */

.devices{
    display: flex;
    padding: 1rem;
    background-color: #55b3e0;
    border-radius: 10px;
}
.devices-info{
    float: right;
    margin-left: 1.5rem;
}
.item{
    width: 100%;
    height: 30%;
    text-align: center;
    display: grid;
    margin-bottom: 1.5rem;
}
.remain{
    font-size: 1.5rem;
    font-weight: 700;
    color: #e6ec7e;
}
.item-temp{
    font-weight: 700;
    font-size: 1.2rem;
}
.arrow-container{
    display: flex;
    position: relative;
}
/* arrow css */
.hidden{
    opacity: 0;
}
.arrows{
    margin-top: 20px;
}
.ev-mode{
    transform: rotate(-35deg);
    left: 10%;
}
.batt-mode{
    transform: rotate(215deg);
    right: 10%;
}
.ev-discharge{
    transform: rotate(-215deg);
}
.batt-discharge{
    transform: rotate(35deg);
}

/* LIGHTH */
/* #light-status{
    margin: 0 20px;
    font-size: 26px;
    font-weight: 700;
    color: #e6ec7e;
}
#light-last-time{
    margin-left: 10px;
    font-size: 17px;
    font-weight: 600;
    color: #e6ec7e;
}
.light-time-select{
    display: inline;
}
.light-time-select :first-child{
    display: flex;
}
.light-time-select input{
    margin-right: 20px;
}
.light-time-select > button{
    width: 30%;
}
.light-time-select > span{
    font-size: 14px;
    font-weight: 400;
    color: rgb(204, 62, 62);
    display: none;
}
.notification{
    margin-top: 10px;
    border-radius: 10px;
}
.item-inline :last-child{
    float: right;
} */
.devices-info > *{
    margin: 10px 0 ;
}
#EV-arrow, #Batt-arrow {
    width: inherit;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.arrow {
    width: 1.5vw;
    height: 1.5vw;
    border: 0.5vw solid;
    border-color: #efb533 transparent transparent #efb533;
    transform: rotate(-45deg);
  }
  
  
  .arrowSliding {
    position: absolute;
    /* -webkit-animation: slide 0.5s linear infinite;  */
            animation: slide 2s linear infinite;
  }
  
  .delay {
    /* -webkit-animation-delay: 0s;  */
      animation-delay: 1.5s;
  }
  .delay1 {
    /* -webkit-animation-delay: 0.5s;  */
      animation-delay: 0.5s;
  }
  .delay2 {
    /* -webkit-animation-delay: 2s;  */
      animation-delay: 1s;
  }
  .delay3 {
    /* -webkit-animation-delay: 3s;  */
      animation-delay: 0s;
  }
  
  /* @-webkit-keyframes slide {
      0% { opacity:0; transform: translateX(2vw); }	
     20% { opacity:1; transform: translateX(1vw); }	
     80% { opacity:1; transform: translateX(-1vw); }	
    100% { opacity:0; transform: translateX(-2vw); }	
  } */
  @keyframes slide {
      0% { opacity:0; transform: translateX(4vw); }	
     20% { opacity:1; transform: translateX(2vw); }	
     80% { opacity:1; transform: translateX(-2vw); }	
    100% { opacity:0; transform: translateX(-4vw); }	
  }
  /* end arrow css */

  /* change */
  .device-button{
    display: flex;
    padding: 0.5rem;
    position: relative;
}
.device-button > button{
    width: 40%;
    text-align: center;
}
.device-button > button:last-child{
    position: absolute;
    right: 0.7rem;
}
